@model List<Curso>

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-2">Bem-vindo!</h1>
</div>

<div class="categorias">
    <p class="lead categorias-titulo">Categorias</p>
    @foreach (string categoriaHeader in Enum.GetNames(typeof(Categorias)))
    {
        <p onclick="rolarParaCategoria(@categoriaHeader)" class="lead categoria-texto">@categoriaHeader</p>
    }
</div>


@foreach (string categoria in Enum.GetNames(typeof(Categorias)))
{
    var cursosPorCategoria = Model.Where(c => c.Categoria.ToString() == categoria).ToList();
    if(cursosPorCategoria.Count > 0)
    {
        <h6 id="@categoria" class="display-6 categoria-curso-titulo">@categoria</h6>
        <div class="cursos-homepage">
            @{
                int i = 0;
                foreach (Curso curso in cursosPorCategoria)
                {
                    <div class="card card-inteiro" style="width: 18rem;">
                        <img src="@curso.CapaUrl" class="card-img-top curso-img" alt="@curso.Nome">
                        <div class="card-body card-conteudo">
                            <h5 class="card-title">@curso.Nome</h5>
                            <p class="card-text">@curso.DuracaoEmMinutos minutos</p>
                            <a href="#" class="btn btn-primary">Detalhes</a>
                        </div>
                    </div>
                    i++;
                    if (i >= 5)
                        break;
                }
            }
        </div>
    }
}

<div class="margin-home-final">

</div>

<script>
    function rolarParaCategoria(categoria) {
        categoria.scrollIntoView();
    }
</script>

<style>
    .curso-img {
        width: 100%;
        max-height: 150px;
        min-height: 40px;
        aspect-ratio: 2/1.5;
    }

    .card-inteiro {
        margin: 1%;
    }

    .curso-homepage {
        padding: 1%;
        border-radius: 5%;
        background-color: lightgray;
        margin-top: 1%;
    }

    .curso-homepage:hover {
        filter: brightness(0.9);
    }

    .categoria-curso-titulo {
        margin-top: 3%;
        margin-left: 0.5%;
    }

    .categorias {
        text-align: center;
        margin: 0px auto;
        width: 50%;
    }

    .categoria-texto {
        display: inline;
        margin: 0 1.5%;
    }

    .categoria-texto:hover {
        color: lightgray;
    }

    .categorias-titulo {
        margin-top: 3%;
        font-weight: 400;
    }

    .margin-home-final {
        height: 100px;
        width: 100%;
    }
</style>


