@model Usuario
@{
    ViewData["Title"] = "Minha Conta";
}

<div class="display">
    <div class="texto-center">
        <h1 class="display-4">Bem-vindo(a) a sua área @Model.Nome</h1>
    </div>
    <div class="user-info">
        <h4>Informações do Usuário</h4>
        <p>Username: @Model.Username</p>
        <p>Email: @Model.Email</p>
        <p>Nascimento: @Model.Nascimento.ToString("dd/MM/yyyy")</p>
    </div>
    
    @if(Model.CursosLecionados != null)
    {
        <div class="texto-center">
            <h3 class="display-5">Cursos que você leciona:</h3>
        </div>
        <a asp-controller="Curso" asp-action="CriacaoDeCurso" class="btn btn-outline-success btn-lg">Criar Curso</a>
    }

    @if(Model.CursosMatriculados != null)
    {
        <div class="texto-center">
            <h3 class="display-5">Cursos que você se matriculou:</h3>
        </div>
        @if (Model.CursosMatriculados.Count == 0)
        {
            <p>Você não está matriculado(a) em nenhum curso!</p>
        }
        @if (Model.CursosMatriculados.Count != 0)
        {
            <div class="cursos-matriculados">
                @foreach (var curso in Model.CursosMatriculados)
                {
                    <div>
                        <p>@curso</p>
                    </div>
                }
            </div>
        }
    }

</div>

<style>
    .cursos-matriculados {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: start;
    }

    .texto-center {
        text-align: center;
    }

    .user-info {
        margin: 4% 0px;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 0.08em;
        width: fit-content;
        font-size: large;
    }

    .cursos-matriculados {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: start;
    }
</style>