@model Usuario
@{
    ViewData["Title"] = "Minha Conta";
}

<div class="display">
    <h1>Bem-vindo(a) a sua área @Model.Nome @Model.Sobrenome!</h1>
    <p>Username: @Model.Username</p>
    <p>Email: @Model.Email</p>
    <p>Idade: @Model.Nascimento.ToString("dd/MM/yyyy")</p>

    <h3>Cursos que você leciona:</h3>
    
</div>

<style>
    .display {
        text-align: center;
    }

    .cursos-matriculados {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: start;
    }
</style>