@model Usuario
@{
    ViewData["Title"] = "Minha Conta";
}

<div class="display">
    <div class="texto-center">
        <h1 class="display-3">Bem-vindo(a) a sua área @Model.Nome</h1>
    </div>
    <div class="user-info">
        <h4>Informações do Usuário</h4>
        <p>Username: @Model.Username</p>
        <p>Email: @Model.Email</p>
        <p>Nascimento: @Model.Nascimento.ToString("dd/MM/yyyy")</p>
    </div>
    
    @if(Model.Papel == "Tutor")
    {
        <div class="texto-center">
            <h3 class="display-4">Cursos que você leciona:</h3>
        </div>
        @if(Model.CursosLecionados.Count == 0)
        {
            <div class="texto-center">
                <h6 class="display-6">Você não leciona nenhum curso!</h6>
                <a asp-controller="Curso" asp-action="Criacao" class="btn btn-outline-success btn-lg bot-criar-curso">Criar Curso</a>
            </div>
        }
        @if(Model.CursosLecionados.Count > 0)
        {
            <div class="cursos-matriculados">
                @foreach (var curso in Model.CursosLecionados)
                {
                    <div class="curso-matriculado">
                        <img class="curso-img" src=@curso.CapaUrl alt="Curso: @curso.Nome" >
                    </div>
                }
            </div>
            <div class="div-botao-cursos-lecionados">
                <a asp-controller="Curso" asp-action="Criacao" class="btn btn-outline-success btn-lg bot-criar-curso">Criar Curso</a>
            </div>
        }
    }

    @if(Model.Papel == "Aluno")
    {
        <div class="texto-center">
            <h3 class="display-4">Cursos que você se matriculou:</h3>
        </div>
        @if(Model.CursosMatriculados.Count == 0)
        {
            <div class="texto-center">
                <h6 class="display-6">Você não está matriculado(a) em nenhum curso!</h6>
            </div>
        }
        @if(Model.CursosMatriculados.Count != 0)
        {
            <div class="div-botao-cursos-lecionados">
                <a asp-controller="Usuario" asp-action="Matriculados" class="btn btn-outline-success btn-lg bot-criar-curso">Cursos</a>
            </div>
        }
    }

</div>

<style>
    .cursos-matriculados {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: start;
    }

    .curso-img {
        max-width: 150px;
        min-width: 50px;
        height: auto;
        aspect-ratio: 2/1.5;
    }

    .curso-matriculado {
        padding: 1%;
        border-radius: 5%;
        background-color: lightgray;
        margin-top: 1%;
        margin-left: 1%;
    }

    .curso-matriculado:hover {
        filter: brightness(0.9);
    }

    .texto-center {
        text-align: center;
    }

    .div-botao-cursos-lecionados {
        text-align: center;
        height: fit-content;
        margin: 2% 0;
    }

    .user-info {
        margin: 3% 0px;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 0.08em;
        width: fit-content;
        font-size: large;
    }

    .cursos-matriculados {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: start;
    }

</style>