@model List<Curso>

<div class="text-center">
    <h1 class="display-2">@ViewData["Title"]</h1>
</div>

<div class="categorias">
    @foreach (string categoria in Enum.GetNames(typeof(Categorias)))
    {
        if(categoria != ViewData["Title"] as string)
        {
            <a class="lead categoria-texto" href="/Curso/Categoria/@categoria">@categoria</a>
        }
    }
</div>

<div class="container cursos-display">
    @foreach (Curso curso in Model)
    {
        <div class="card card-inteiro" style="width: 18rem;">
            <img src="@curso.CapaUrl" class="card-img-top curso-img" alt="@curso.Nome">
            <div class="card-body card-conteudo">
                <h5 class="card-title">@curso.Nome</h5>
                <p class="card-text">@curso.DuracaoEmMinutos minutos</p>
                <a href="/Curso/Detalhe/@curso.NomeUnico" class="btn btn-primary">Detalhes</a>
            </div>
        </div>
    }
</div>

<style>

    .curso-img {
        width: 100%;
        max-height: 150px;
        min-height: 40px;
        aspect-ratio: 2/1.5;
    }

    .card-inteiro {
        margin: 1%;
    }

    .curso-homepage {
        padding: 1%;
        border-radius: 5%;
        background-color: lightgray;
        margin: 1%;
        width: fit-content;
    }


    .curso-homepage:hover {
        filter: brightness(0.9);
    }

    .categoria-curso-titulo {
        margin-top: 3%;
        margin-left: 0.5%;
    }

    .categorias {
        text-align: center;
        margin: 1% auto 2%;
        width: 50%;
    }

    .categoria-texto {
        text-decoration: none;
        display: inline;
        margin: 0 1.5%;
        font-size: larger;
        color: grey;
    }

    .categoria-texto:hover {
        text-decoration: none;
        color: lightgray;
    }

    .categoria-texto:active {
        text-decoration: none;
    }

    .cursos-display {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
</style>



